<h1>Edit User</h1>

<form action="/user/{{singleUser._id}}?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="name" value="{{singleUser.name}}"/>
    <input type="number" name="age" placeholder="age" value="{{singleUser.age}}"/>
    <input type="text" name="location" placeholder="location" value="{{singleUser.location}}"/>
    <input type="submit" value="Save"/>
</form>
