<h1>Welcome To Event Archives!</h1>

<p>Are you an avid fan of live music, comedy and film? 
    Do you have a box filled with old ticket stubs at home? 
    Sometimes I wish could look back at a list of all the shows and 
    events I've been to just to reminisce. 
    That's why I've created Event Archives! The one-stop app where 
    you and your friends can show off who and what you've seen live!</p>

    
