<h1>Create New Concert</h1>

<form action="/concert" method="POST">
    <input type="text" name="event" placeholder="event"/>
    <input type="text" name="artist" placeholder="artist"/>
    <input type="date" name="date" placeholder="date"/>
    <input type="text" name="location" placeholder="location"/>
    <input type="text" name="experience" placeholder="experience"/>
    <input type="text" name="picture" placeholder="picture"/>
    <input type="text" name="userId" value="{{userId}}"/>

    <input type="submit" value="Create"/>
</form>